# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ttnfl_dbg_003.sdf
*.opensdf
ttnfl_dbg_003.sln
*.suo
ttnfl_dbg_003/ttnfl_dbg_003.vcxproj
*.filters
ttnfl_dbg_003/ttnfl_dbg_003.vcxproj.user
x64/Release/ttnfl_dbg_003.dll
*.pdb
ttnfl_dbg_003/x64/Release/ttnfl_dbg_003.tlog/link.read.1.tlog
*.tlog
ttnfl_dbg_003/x64/Release/ttnfl_dbg_003.log
*.log
*.obj
